<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_index.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <h2>Lead City University</h2>
        <ul>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        </ul>
    </nav>
    <div class="admin-container">
        <div class="admin-item">
            <a href="#">
                <img src="{{ url_for('static', filename='images/profile.png') }}" alt="View my Profile">
                <p>Profile</p>
            </a>
        </div>
        </div>
        <div class="admin-item">
            <a href="#">
                <img src="{{ url_for('static', filename='images/upcoming.png') }}" alt="Recycle Bin">
                <p>Events</p>
            </a>
        </div>
        <div class="admin-item">
            <a href="#">
                <img src="{{ url_for('static', filename='images/team.png') }}" alt="Edit Document">
                <p>View Teams</p>
            </a>
        </div>
        </div>
    </div>
</body>
</html>